@import url('https://fonts/googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #013200;
}

::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-thumb{
    background: #cd7f32;
    border-radius: 6px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 7px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffd700;
    transition: 0.5s;
    z-index: 1000;
}

header .sticky{
    background: #013200;
    box-shadow: 0 5px 20px rgba(75, 74, 20, 0.9);
}

header .logo{
    position: relative;
    color: #013200;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
}

header .nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    list-style: none;
    margin: 10px;
}

header ul li a{
    color: #013200;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

header ul li a:hover{
    background: #cd7f32;
    color: black;
    box-shadow: 0 0 10px #cd7f32;
}

header .action .searchBx{
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 5px;
}

header .action .searchBx i{
    font: 1.4rem;
    margin: 5px;
    color: #222;
}

header .action .searchBx input{
    outline: none;
    border: none;
    font-size: 1em;
    color: #222;
}

/*Home banner*/

.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .bg{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .bg .content{
    width: 50%;
    height: 100%;
}

.banner .bg .content h2{
    font-size: 3rem;
    color: #ffd700;
    letter-spacing: 1px;
}

.banner .bg .content p{
    font-size: 1rem;
    color: #cd7f32;
    letter-spacing: 1px;
}

.banner .bg .content a{
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #ffd700;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    color: #fff;
    letter-spacing: 1px;
    margin-top: 10px;
}

.banner .bg .content a:hover{
    background: #ffd700;
    border: none;
    color: #fff;
}

.banner .bg .content a:hover{
    background: #ffd700;
    border: none;
    color: #013200;
    box-shadow: 0 0 10px #ffd7 00;
}

.banner .bg img{
    width: 400px;
}

/* about */
.about{
    position: relative;
    width: 100%;
    min-height: 75vh;
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about .contentBx{
    width: 50%;
    margin: 20px;
}

.about .contentBx h2{
    font-size: 3rem;
    font-weight: 700;
    color: #ffd700;
}

.about .contentBx p{
    max-width: 800px;
    text-align: justify;
    color: #cd7f32;
}

.about .contentBx a{
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #ffd700;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    color: #fff;
    letter-spacing: 1px;
    margin-top: 10px;
}

.about .contentBx a:hover{
    background: #ffd700;
    border: none;
    color: #fff;
}

.about .contentBx a:hover{
    background: #ffd700;
    border: none;
    color: #013200;
    box-shadow: 0 0 10px #ffd7 00;
}

/* Games */

.accounts{
    padding: 0px 100px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px auto;
}

.accounts h2{
    color: #cd7f32;
    margin: 10px 0;
}

.accounts ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.accounts ul li{
    list-style: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    color: #fff;
}

.accounts ul li.active{
    background: #ffd700;
    color: #000;
    box-shadow: 0 0 10px #ffd700;
}

.accounts .cardBx{
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.accounts .cardBx .card{
    width: 60 0px;
    border-radius: 10px;
    margin: 20px 40px;
    background: #ffd700;
    overflow: hidden;
}

.accounts .cardBx .card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.accounts .cardBx .card .content h4{
    color: #000;
    margin: 15px 0;
    padding: 10px;
    font-weight: 800;
}

.accounts .cardBx .card .progress-line{
    position: relative;
    height: 10px;
    width: 90%;
    background: #cd7f32;
    margin-left: 25px;
    margin-bottom: 15px;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}

.accounts .cardBx .card .progress-line span{
    position: absolute;
    height: 100%;
    width: 80%;
    border-radius: 10px;
    background: #013200;
    box-shadow: 0 0 10px #013200;
     transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}

@keyframes animate{
    100%{
         transform: scaleX(1);
    }
}

.accounts .cardBx .card .info{
    border-top: 2px solid #cd7f32;
    margin-left: 25px;
    margin-right: 25px;
    padding: 5px;
    display: flex;
    align-items: center;
}

.accounts .cardBx .card .info p{
    font-size: 1rem;
    color: #000;
}

.accounts .cardBx .card .info p span{
    color: #000;
}

.accounts .cardBx .card .info a{
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #013200;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    color: #013200;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-left: 60%;
}

.accounts .cardBx .card .info a:hover{
    background: #013200;
    border: none;
    color: #ffd700;
    box-shadow: 0 0 10px #013200;;
}

/* utility class used by JS to hide cards */
.hide{ display: none !important; }

.tournaments{
    padding: 0px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tournaments h2{
    color: #cd7f32;
    margin: 10px 0;
}

.tournaments .boxBx{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.tournaments .boxBx .box{
    width: 350px;
    border-radius: 10px;
    margin: 20px 40px;
    background: #ffd700;
    overflow: hidden;
}
.tournaments .boxBx .box img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.tournaments .boxBx .box .content{
    padding: 10px;
}

.tournaments .boxBx .box .content h4{
    color: #000;
    margin-top: 15px;
}

.tournaments .boxBx .box .content h4 span{
    color: #013200;
}

.tournaments .boxBx .box .content p{
    text-align: justify;
    color: #000;
    margin-top: 10px;

}

.tournaments .boxBx .box .content .btn{
display: flex;
justify-content: space-between;
}

.tournaments .boxBx .box .content .watch{
    display: inline-block;
    border: 1px solid #013200;
    padding: 10px 20px;
    margin: 20px 0;
    background: #ffd700;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    color: #013200;
    letter-spacing: 1px;
    box-shadow: 0 0 10px #ffd700;
}

.tournaments .boxBx .box .content .watch:hover{
    background: #013200;
    color: #ffd700;
    box-shadow: none;
    box-shadow: 0 0 10px #013200;
}

.tournaments .boxBx .box .content .join{
    display: inline-block;
    border: 1px solid #013200;
    padding: 10px 20px;
    margin: 20px 0;
    background: #ffd700;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    color: #013200;
    letter-spacing: 1px;
    box-shadow: 0 0 10px #ffd700;
}

.tournaments .boxBx .box .content .join:hover{
    background: #013200;
    color: #ffd700;
    box-shadow: none;
    box-shadow: 0 0 10px #013200;
}